<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TweetGet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/twitter"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.TweetGet.activites.MainActivity"
            android:label="TweetGet"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.TweetGet.activites.SearchActivity"
       
            android:label="@string/title_activity_hashtag_query"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
                 android:parentActivityName="com.TweetGet.activites.MainActivity" >
             <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.TweetGet.Activites.MainActivity" />
        </activity>
        <activity
            android:name="com.TweetGet.activites.PreferenceActivity"
            android:screenOrientation="portrait" />
            <activity
            android:name="com.TweetGet.activites.TransparentActivity"
            android:screenOrientation="portrait" />
    
    </application>
      

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>